.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgb(0 0 0 / 40%);
  width: 100vw;
  height: 100vh;
}

.modal-container {
  margin: auto;
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 14%);
  border: 1px solid #888;
  border-radius: 12px;
  background-color: #fefefe;
  padding: 30px;
  min-width: 340px;
  text-align: center;
}

.modal-container .modal-title {
  margin-bottom: 40px;
  font-size: 15px;
}

.modal-container .modal-content {
  margin-bottom: 50px;
  font-size: 12px;
}

.modal-container .modal-error {
  margin-top: 14px;
  color: #ff2f2f;
  font-size: 11px;
}

.modal-btn {
  margin-top: 45px;
}
