<main class="login">
  <h3>Вход</h3>
  <form
    action="#"
    class="login-form"
  >
    <div>
      {{> Input label='Логин' name="login" error="Неверный логин" required=true}}
      {{> Input label='Пароль' name='password' type="password" error="Неверный пароль"}}
    </div>
    <div>
      {{> Button text='Авторизоваться'}}
      {{> Link 
        href="#"
        class="login-signup"
        label="Нет аккаунта?"
      }}
    </div>
  </form>
</main>
