<div class="login">
  <h3>Вход</h3>
  <form action="#" class="login-form">
    <div>
      {{> Input label='Логин' name="login" placeholder=''}}
      {{> Input label='Пароль' name='password' placeholder=''}}
    </div>
    <div>
      {{> Button text='Авторизоваться'}}
      <a href="#" class="link">Нет аккаунта?</a>
    </div>
  </form>
</div>