.messenger {
  display: grid;
  grid-template-columns: 310px 1fr;
  width: 100vw;
  height: 100vh;
}

.dialogs {
  position: relative;
  background: #fbfbfb;
}

.chat {
  display: grid;
  grid-template-rows: 54px 1fr 54px;
  background: #fff;
  padding: 0 21px;
  overflow: hidden;
}
