.messenger {
  display: grid;
  grid-template-columns: 310px 1fr;
  width: 100vw;
  height: 100vh;
}

.dialogs {
  position: relative;
  background: #fbfbfb;
  height: 100vh;
  overflow: hidden;
}

.chat {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: #fff;
  padding: 0 21px;
  overflow: hidden;
}

.select {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
