{
  "plugins": ["stylelint-prettier"],
  "extends": ["stylelint-config-standard"],
  "rules": {
    "prettier/prettier": true,
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global"]
      }
    ]
  }
}
