.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: var(--box-shadow);
  border-radius: 12px;
  padding: 2rem 1.5rem;
  width: 340px;
  text-align: center;
}

.title {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}

.error {
  margin-top: 10px;
  color: red;
  font-size: 12px;
}
