<div class="msg {{ type }}">
  <p class="msg-content">
    {{ content }}
    <span class="time">
      <span class="read">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="10"
          height="5"
          viewBox="0 0 10 5"
          fill="none"
        >
          <line
            y1="-0.5"
            x2="3.765"
            y2="-0.5"
            transform="matrix(0.705933 0.708278 -0.705933 0.708278 0.700195 2.33313)"
            stroke="orange"
          />
          <line
            y1="-0.5"
            x2="5.6475"
            y2="-0.5"
            transform="matrix(0.705933 -0.708278 0.705933 0.708278 3.35828 5)"
            stroke="orange"
          />
          <line
            y1="-0.5"
            x2="5.6475"
            y2="-0.5"
            transform="matrix(0.705933 -0.708278 0.705933 0.708278 6.01587 5)"
            stroke="orange"
          /></svg></span
      >11:12</span
    >
  </p>
</div>
