.chat-attach-menu {
  position: absolute;
  left: -5px;
  top: -135px;
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 14%);
  border-radius: 12px;
  background: #fff;
  display: flex;
  flex-direction: column;
}

.chat-attach-menu-item {
  font-size: 12px;
  color: #1e1e1e;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px;
}

.chat-attach-menu-item:hover {
  background-color: rgb(220 220 220 / 80%);
  border-radius: 12px;
}
