<div class="side-button">
  <div class="circle">
    <span class="arrow">&#8592;</span>
  </div>
</div>
<div class="profile">
  <div class="profile-info">
    <div class="profile-info-content">
      <div class="profile-img"></div>
      <h3 class="profile-name">Андрей</h3>
      {{>ProfileInfoField label="Почта" value="pochta@yandex.ru"}}
      {{>ProfileInfoField label="Почта" value="pochta@yandex.ru"}}
      {{>ProfileInfoField label="Почта" value="pochta@yandex.ru"}}
      {{>ProfileInfoField label="Почта" value="pochta@yandex.ru"}}
      {{>ProfileInfoField label="Почта" value="pochta@yandex.ru"}}
      {{>ProfileInfoField label="Почта" value="pochta@yandex.ru"}}
      {{>ProfileInfoField label="Почта" value="pochta@yandex.ru"}}
      {{>ProfileInfoField label="Почта" value="pochta@yandex.ru"}}
    </div>
    <div class="profile-info-links">
      {{>Link label="Изменить данные" href="#" class="link profile-underline"}}
      {{>Link label="Изменить пароль" href="#" class="link profile-underline"}}
      {{>Link label="Выйти" href="#" class="link logout profile-underline"}}
    </div>
  </div>
</div>
