<div class="side-button">
  <div class="circle">
    <span class="arrow">&#8592;</span>
  </div>
</div>
<div class="profile">
  <div class="profile-info">
    <div class="profile-img"></div>
    <div>test</div>
    {{>ProfileInfoField label="Почта" value="pochta@yandex.ru"}}
    {{>ProfileInfoField label="Почта" value="pochta@yandex.ru"}}
    {{>ProfileInfoField label="Почта" value="pochta@yandex.ru"}}
  </div>
</div>
