<div class="chat">
  <div class="chat-border"></div>
  <div class="chat-avatar"></div>
  <div class="dialog">
    <p class="dialog-name">{{ name }}</p>
    <p class="dialog-msg">{{ msg }}</p>
  </div>
  <div class="chat-info">
    <p class="chat-info-time">{{ date }}</p>
    <p class="chat-info-unread">{{ unread }}</p>
  </div>
</div>
