<div class="registration">
  <h3>Регистрация</h3>
  <form
    action="#"
    class="registration-form"
  >
    <div>
      {{> Input label='Почта' name="email" placeholder=''}}
      {{> Input label='Логин' name='login'
      placeholder=''}}
      {{> Input label='Имя' name='first_name' placeholder=''}}
      {{> Input
      label='Фамилия' name='second_name' placeholder=''}}
      {{> Input label='Телефон' name='phone'
      placeholder=''}}
      {{> Input label='Пароль' name='password' placeholder=''}}
      {{> Input
      label='Пароль (еще раз)' name='password_check' placeholder=''}}
    </div>
    <div>
      {{> Button text='Зарегистрироваться' type="submit"}}
      <a
        href="#"
        class="link"
        >Войти</a
      >
    </div>
  </form>
</div>
