.link {
  display: inline-block;
  color: rgb(var(--primary-color));
  font-weight: 500;
  font-size: 13px;
  text-decoration: none;
}

.link.logout {
  color: red;
}

.link:hover {
  opacity: 0.8;
}

.link:global(.signup) {
  margin-top: 15px;
  font-size: 11px;
}
