.message {
  flex-grow: 1;
  border: 0;
  border-radius: 30px;
  background-color: #efefef;
  padding: 10px 20px;
  height: 32px;
}

.message::placeholder {
  color: rgb(var(--secondary-color));
  font-size: 12px;
}
