.link {
  width: 100%;
  color: rgb(var(--primary-color));
  font-weight: 500;
  font-size: 13px;
}

.link.logout {
  color: red;
}

.link:hover {
  opacity: 0.8;
}

.link.profile-underline {
  display: block;
  margin-bottom: 10px;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 10px;
  text-decoration: none;
}
