.link {
  color: orange;
  font-size: 13px;
  font-weight: 500;
  width: 100%;
}

.link.logout {
  color: red
}

.link:hover {
  opacity: 0.8;
}

.link.profile-underline {
  display: block;
  text-decoration: none;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eaeaea;
}