<div class="modal">
  <div class="modal-container">
    <p class="modal-title">{{ title }}</p>
    {{>Input label='Логин'  }}
    <div class="modal-btn">{{> Button text='Добавить' }}</div>
  </div>
</div>
