<div class="modal">
  <div class="modal-container">
    <p class="modal-title">{{title}}</p>
    <p class="modal-content">Выбрать файл на <br /> компьютере</p>
    <div class="modal-btn">
      {{> Button text='Поменять' }}
    </div>
    <p class="modal-error">Нужно выбрать файл</p>
  </div>
</div>