<ul>
  <li>
    <a href="#" page="login">Login</a>
    <a href="#" page="registration">Registration</a>
    <a href="#" page="messenger">Messenger</a>
    <a href="#" page="settings">Settings</a>
    <a href="#" page="404">404</a>
    <a href="#" page="5**">5**</a>
  </li>
</ul>