<ul class="navigation">
  <li>
    <a
      href="#"
      page="login"
      >Login</a
    >
  </li>
  <li>
    <a
      href="#"
      page="registration"
      >Registration</a
    >
  </li>
  <li>
    <a
      href="#"
      page="profile"
      >Profile</a
    >
  </li>
  <li>
    <a
      href="#"
      page="404"
      >404</a
    >
  </li>
  <li>
    <a
      href="#"
      page="500"
      >500</a
    >
  </li>
  <li>
    <a
      href="#"
      page="messenger"
      >Messenger</a
    >
  </li>
</ul>
