<div class="messenger">
  <ul class="messenger-dialogs">
    {{>Chat name="Андрей" msg="Друзья, у меня для вас особенный выпуск новостей!..." unread="12" date="14:12"}}
    {{>Chat name="Андрей" msg="Друзья, у меня для вас особенный выпуск новостей!..." unread="12" date="14:12"}}
    {{>Chat name="Андрей" msg="Друзья, у меня для вас особенный выпуск новостей!..." unread="12" date="14:12"}}
    {{>Chat name="Андрей" msg="Друзья, у меня для вас особенный выпуск новостей!..." unread="12" date="14:12"}}
  </ul>
  <div class="messenger-chats"></div>
</div>
