.container {
  margin: auto;
  box-shadow: var(--box-shadow);
  border: 1px solid #888;
  border-radius: 12px;
  background-color: #fefefe;
  padding: 30px;
  min-width: 340px;
  text-align: center;
}

.title {
  margin-bottom: 40px;
  font-size: 15px;
}
