.container {
  display: flex;
  position: absolute;
  top: -135px;
  left: -5px;
  flex-direction: column;
  box-shadow: var(--box-shadow);
  border-radius: 12px;
  background: #fff;
  font-size: 12px;
  z-index: 10;
}

.item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px;
  color: #1e1e1e;
  font-weight: normal;
  font-size: 12px;
}

.item:hover {
  cursor: pointer;
  border-radius: 12px;
  background-color: rgb(220 220 220 / 80%);
}
