.not-found-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.not-found-page h3 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 20px;
}

.not-found-page p {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 69px;
}

.not-found-page a {
  text-decoration: none;
  color: orange;
  font-size: 11px;
  font-weight: 500;
}
