.not-found-page {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.not-found-page > h3 {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 40px;
}

.not-found-page > p {
  margin-bottom: 69px;
  font-weight: 500;
  font-size: 20px;
}

.not-found-page > a {
  color: rgb(var(--primary-color));
  font-weight: 500;
  font-size: 11px;
  text-decoration: none;
}
