@font-face {
  src: url("fonts/Inter_Variable.ttf");
  font-family: Inter;
}

:root {
  /* rgb(255 165 0) */
  --primary-color: 255 165 0;

  /* rgb(153 153 153) */
  --secondary-color: 153 153 153;

  /* rgb(234 234 234) */
  --primary-border: 234 234 234;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1e1e1e;
}
