@font-face {
  font-family: "Inter";
  src: url("fonts/Inter_Variable.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter";
}

html,
body {
  width: 100vw;
  height: 100vh;
}
