.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 64px;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}

.info {
  width: 50%;
  max-width: 510px;
  height: 80%;
}

.content {
  margin-bottom: 60px;
}

.name {
  margin: 21px 0 60px;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}

.profile :global(.profile-underline) {
  display: block;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(var(--primary-border));
  padding-bottom: 10px;
  width: 100%;
  text-align: left;
}

.profile :global(.logout) {
  color: red;
}
