.field {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 1em;
}

.field .input {
  outline: 0;
  border: 0;
  font-size: 13px;
  border-bottom: 1px solid orange;
  padding-bottom: 0.3rem;
}

.field .input:focus {
  border-bottom: 1px solid op;
}

.field .label {
  font-size: 9px;
  margin-bottom: 0.3rem;
  color: rgb(153 153 153 / 100%);
  text-align: left;
}
