.btn {
  width: 100%;
  color: white;
  background-color: rgb(255 165 0);
  border: 0;
  padding: 0.6rem;
  border-radius: 8px;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(255 165 0 / 80%);
}
